<footer class="text-white">
    <div class="container-fluid">
        <div class="container py-5">
            <div class="row g-2">
                <!-- Columna 1: Información de contacto y redes sociales -->
                <div class="col-lg-4 col-md-6">
                    <h5 class="text-uppercase mb-4 font-weight-bold">Contacto</h5>
                    <p class="mb-3">
                        <i class="bi bi-geo-alt-fill me-2"></i>
                        C/ Orba, 17, 46470 Massanassa, Valencia
                    </p>
                    <p class="mb-3">
                        <i class="bi bi-telephone-fill me-2"></i>
                        681 30 63 14
                    </p>
                    <a class="mb-3"
                        href="mailto:hola@clubdeluchamassanassa.com?subject=Consulta&body=Hola,%20me%20gustaría%20hacer%20una%20consulta."
                        target="_blank" rel="noopener noreferrer" class="white-link"
                        aria-label="Enviar un correo a Jonathan Agudo">
                        clubdeluchamassanassa&#64;gmail.com
                    </a>
                    <div class="social-links mt-4">
                        <a href="https://www.facebook.com/p/Club-de-lucha-Massanassa-Mestre-Stanly-100063572770580/"
                            class="social-icon" target="_blank">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="https://www.instagram.com/club_de_lucha_massanassa/" class="social-icon"
                            target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>

                <!-- Columna 2: Mapa -->
                <div class="col-lg-5 col-md-6">
                    <h5 class="text-uppercase mb-4 font-weight-bold">Ubicación</h5>
                    <div class="map-container">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3112.3173451184053!2d-0.3952074!3d39.4111105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604e90292ed361%3A0x6abf6d4dd2b76114!2sClub%20de%20Lucha%20Massanassa!5e0!3m2!1ses!2ses!4v1707748465017"
                            height="350" loading="lazy">
                        </iframe>
                    </div>
                </div>

                <!-- Columna 3: Enlaces útiles y Copyright -->
                <div class="col-lg-3 col-md-6">
                    <h5 class="text-uppercase mb-4 font-weight-bold">Enlaces Útiles</h5>
                    <ul class="list-unstyled footer-links">
                        <li class="mb-3">
                            <a class="footer-link" routerLink="/aviso-legal">Aviso Legal</a>
                        </li>
                        <li class="mb-3">
                            <a class="footer-link" routerLink="/politica-privacidad">Política de Privacidad</a>
                        </li>
                        <li class="mb-3">
                            <a class="footer-link" routerLink="/terminos-y-condiciones">Términos y Condiciones</a>
                        </li>
                        <li class="mb-3">
                            <a class="footer-link" routerLink="/contacto">Contacto</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12">
                    <div class="copyright-text text-center">
                        <hr class="divider">
                        <p class="mb-0">&copy; 2025 Club de Lucha Massanassa. Todos los derechos reservados.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>