<div class="header">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#" routerLink="" routerLinkActive="active">
                <img class="rounded-pill" src="../../../../images/logo2.png" alt="Logotipo del Diario Fitness" />
            </a>
            <div class="collapse navbar-collapse">
                <ng-container>
                    @if (userRole === 'usuario') {
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link ms-3" [routerLink]="['/home']" routerLinkActive="active">
                                {{ getText('mis rutinas', 'home') }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ms-3" [routerLink]="['/ejercicios-lista']" routerLinkActive="active">
                                {{ getText('ejercicios', 'exercises') }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ms-3" [routerLink]="['/rutinas']" routerLinkActive="active">
                                {{ getText('registrar rutina', 'register rutina') }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ms-3" [routerLink]="['/dias-semana']" routerLinkActive="active">
                                {{ getText('calendario semanal', 'weekly calendar') }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ms-3" [routerLink]="['/registros-diarios']" routerLinkActive="active">
                                {{ getText('registros diarios', 'daily records') }}
                            </a>
                        </li>
                    </ul>
                    } @else if(userRole === 'administrador'){
                    <ul class="navbar-nav mx-auto">

                        <li class="nav-item">
                            <a class="nav-link ms-3" [routerLink]="['/home']" routerLinkActive="active">
                                {{ getText('mis rutinas', 'home') }}
                            </a>
                        </li>

                        <li class="nav-item">

                        <a class="nav-link ms-3" [routerLink]="['/ejercicios-lista']" routerLinkActive="active">
                            {{ getText('ejercicios', 'exercises') }}
                        </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ms-3" [routerLink]="['/dias-semana']" routerLinkActive="active">
                                {{ getText('calendario semanal', 'weekly calendar') }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ms-3" [routerLink]="['/registros-diarios']" routerLinkActive="active">
                                {{ getText('registros diarios', 'daily records') }}
                            </a>
                        </li>
                         <li class="nav-item ">
                            <a class="nav-link ms-3" routerLink="/administrarUsuarios" routerLinkActive="active">
                                {{ getText('usuarios', 'day of rutine') }}
                            </a>
                        </li>
                    </ul>

                    }
                </ng-container>
                <!-- Contenedor a la derecha SIEMPRE visible -->
                <div class="d-flex align-items-center ms-auto gap-2">
                    <div class="dropdown language-selector">
                        <button class="btn btn-link dropdown-toggle" type="button" data-bs-toggle="dropdown">
                            {{ isSpanish ? 'ES' : 'EN' }}
                        </button>
                        <ul class="dropdown-menu dropdown-menu-start">
                            <li>
                                <button class="dropdown-item" (click)="toggleLanguage('es')">
                                    ES
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item" (click)="toggleLanguage('en')">
                                    EN
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div id="google_translate_element" class="ms-3"></div>
                    <!-- Login/Logout según rol -->
                    @if(userRole === 'invitado'){
                    <ul class="navbar-nav">
                        <li class="nav-item ms-3">
                            <a class="nav-link login-btn" routerLink="/signIn" routerLinkActive="active">
                                <i class="fas fa-sign-in-alt"></i>
                                {{ getText('Iniciar Sesión', 'Login') }}
                            </a>
                        </li>
                    </ul>
                    }@else if(userRole === 'usuario' || userRole === 'administrador'){
                    <ul class="navbar-nav">
                        <li class="nav-item ms-3">
                            <button class="nav-link login-btn bg-transparent border-0" (click)="logout()"
                                style="cursor:pointer;">
                                <i class="fas fa-sign-in-alt"></i>
                                <span class="fw-bold">{{ userName }}</span>
                            </button>
                        </li>
                    </ul>
                    }
                </div>
            </div>
        </div>
    </nav>
</div>